body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h3 {
    font-size: 20px;
}

.top-banner-style {
    width: 45%;
    height: 50%;
    margin: auto;
    padding-bottom: 2%;

}

.flexiable-container {
    display: flex;

}

.home-banner {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}



.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 6px 10px 6px;
    border-radius: 5px;
    color: white;
}